<footer class="main-footer clearfix">
  {{#link-to 'chatSessions' class="main-footer-icon col-md-3 col-sm-3 col-xs-6"}}
    <span class="icon-image glyphicon glyphicon-plus"></span>
    <span class="icon-text">chat</span>
  {{/link-to}}
  {{#link-to 'users' class="main-footer-icon col-md-3 col-sm-3 col-xs-6"}}
    <span class="icon-image glyphicon glyphicon-plus"></span>
    <span class="icon-text">contacts</span>
  {{/link-to}}
  <div class="main-footer-icon col-md-3 col-sm-3 col-xs-6">
    <span class="icon-image glyphicon glyphicon-plus"></span>
    <span class="icon-text">text</span>
  </div>
  <a class='main-footer-icon col-md-3 col-sm-3 col-xs-6' {{ action 'invalidateSession' }}>
    <span class="icon-image glyphicon glyphicon-off"></span>
    <span class="icon-text">Logout</span>
  </a>
</footer>
