{{#if session.isAuthenticated}}
  <footer class="main-footer clearfix">
    {{#link-to 'chatSessions' class="main-footer-icon col-md-3 col-sm-3 col-xs-6"}}
      <span class="icon-image glyphicon glyphicon-plus"></span>
      <span class="icon-text">chat</span>
    {{/link-to}}
    {{#link-to 'users' class="main-footer-icon col-md-3 col-sm-3 col-xs-6"}}
      <span class="icon-image glyphicon glyphicon-plus"></span>
      <span class="icon-text">contacts</span>
    {{/link-to}}
    {{#link-to 'editProfile' class="main-footer-icon col-md-3 col-sm-3 col-xs-6"}}
      <span class="icon-image glyphicon glyphicon-plus"></span>
      <span class="icon-text">Account</span>
    {{/link-to}}
    <a class='main-footer-icon col-md-3 col-sm-3 col-xs-6' {{ action 'invalidateSession' }}>
      <span class="icon-image glyphicon glyphicon-off"></span>
      <span class="icon-text">Logout</span>
    </a>
  </footer>
{{/if}}
