<div class="row">
    {{#link-to 'index' class='pull-left' }}
        Home
    {{/link-to}}

    {{#link-to 'register' class='pull-right' }}
        <span>&nbsp;</span>Register
    {{/link-to}}
    {{#if session.isAuthenticated}}
      <a class='pull-right' {{ action 'invalidateSession' }}>Logout</a>
    {{else}}
      {{#link-to 'login' class='pull-right' }}
          Login
      {{/link-to}}
    {{/if}}
</div>
