<div class="container">
  <header class="main-header">
    {{liquid-outlet "mainHeader"}}
  </header>
  <h2 id="title">Welcome to Ember.js</h2>
  {{partial 'partials/main-nav'}}
  {{liquid-outlet}}
  {{partial 'partials/footer'}}
</div>
