<div class="chat-sessions-list">
{{#each currentUser.chatSessions as |session|}}
  {{chat-session-summary sessionModel=session goToSessionAction='goToSession'
    deleteChatSessionAction='deleteChatSession' }}
{{/each}}
</div>
