{{outlet}}
<form class="login-form" {{action 'loginSubmitted' username password anonymous on='submit' }} >
    <div class="form-group">
        <label for="username">Username</label>
      {{ input value=username class="form-control" }}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
      {{ input type='password' value=password class="form-control" }}
    </div>
    <div class="container-fluid">
      <div class="row">
        <button type="submit" class="btn btn-default pull-right login-form__submit-form">Login</button>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        {{#link-to 'register' class='pull-right login-form__register-link' }}
            <span>&nbsp;</span>Register
        {{/link-to}}
      </div>
    </div>
</form>
