{{#link-to "chatSessions" class="left-header-part pull-left" }}
  <span class="glyphicon glyphicon-menu-left"></span>
{{/link-to}}
<div class="middle-header-part">Contacts</div>
<div class="right-header-part pull-right"><span class="glyphicon glyphicon-plus"></span>
</div>
